.add-offer-category-buttons .button {
    background-color: white;
}

.form {
    border-radius: 25px;
    background-color: #fef6e7;
}

.offers .input input,
.offers .input select,
.offers .input textarea {
    max-width: 200px;
    background-color: white;
}

.grid-add-offers {
    display: flex;
    flex-direction: column;
}

.grid-add-offers input[type="text"] {
    margin-top: 0;
}

.grid-add-offers h3 {
    margin-top: 2rem;
}

label {
    font-weight: 400;
}

.add-offers-type {}

.add-offers-params {}

.add-offers-address {}

.add-offers-description {}

.add-offers-contact {}

.add-offers-photos {}

button[type="submit"] {
    background-color: #46755e;
    border-radius: 50px;
    width: 200px;
    height: 55px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: normal;
    border: none;
    text-transform: none;
}
