.offer-filters {
    display: flex;
    column-gap: 2.5rem;
}

.content {
    min-width: 1100px;
}

.serv {
    margin-bottom: 2rem;
    margin-top: 0;
    gap: 1rem;
    column-gap: 3rem;
}

/*.input .checkbox label {*/
/*    margin-top: 1rem;*/
/*}*/

.form {
    border-radius: 25px;
    background-color: #fef6e7;
}

.offers .input input,
.offers .input select {
    max-width: 200px;
}

.offers .input textarea,
.offers .input input,
.offers .input select {
    background-color: white;
    border-bottom: 1px solid gray;
}

.offers .input textarea {
    width: 600px;
    height: 150px;
    max-width: 600px;
    max-height: 400px;
}

.grid-add-offers {
    display: flex;
    flex-direction: column;
}

.grid-add-offers input[type="text"] {
    margin-top: 0;
}

.grid-add-offers h3 {
    margin-top: 2rem;
}

label {
    font-weight: 400;
}

h3 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.add-offers-combo {
    display: flex;
    gap: 3rem;
}

.add-offers-type {}

.add-offers-params {
    display: flex;
    gap: 3rem;
}

.add-offers-address {
    display: flex;
    gap: 3rem
}

#address-house-number {
    width: 8rem;
}

.add-offers-description textarea {
    max-width: 400px;
}

.add-offers-contact {
    display: flex;
}

.add-offers-photos {
}

.add-offers-active-days {
    display: flex;
    gap: 3.5rem;
}

.add-offers-active-days .input.checkbox label {
    margin-top: 1.5rem;
}

button[type="submit"] {
    background-color: #46755e;
    border-radius: 50px;
    width: 200px;
    height: 55px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: normal;
    border: none;
    text-transform: none;
}
