body {
    overflow: hidden;
}

label {
    display: none;
}

input[type="password"] {
    background-color: transparent;
    height: min-content;
    border-radius: 0;
    margin-top: 1rem;
    margin-bottom: 4rem;
}

input[type="password"]:hover {
    background-color: transparent;
}

form {
    margin: 16rem auto;
    background-color: white;
    width: min-content;
    padding: 2rem;
    border-radius: 25px;
}

.change-password-title {
    margin-left: 24px;
    margin-bottom: 16px;
    margin-top: 16px;
    padding: 0;
}
