.users-form-content{
    width: fit-content;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    padding: 30px;
    margin-bottom: 20px;
}

.row{
    width: 700px;
    margin:0;
}

.container{
    display: flex;
    justify-content: center;
}

.column-responsive {
    display: flex;
    justify-content: center;
}

label{
    margin: 0;
    font-size:19px;
}

input{
    margin-bottom: 10px;
}

.flex-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 25px;
    padding: 30px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}
