@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

/* global */
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #E4CC9F;
}

label, legend {
    color: #1f1f1f;
}

.input input, .input select, .input textarea {
    border-radius: 1rem;
}

/* header */

.top-nav {
    margin-bottom: 1rem;
    margin-top: 0;
    padding: 0;
}

.top-nav-logo img {
    width: 423px;
    height: 73px;
}

.top-nav-logo {
    width: 423px;
    height: 73px;
}
