@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

iframe {
    display: none;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* buttons */
.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
    all: unset;
    min-width: 140px;
    min-height: 40px;
    width: min-content;
    height: fit-content;
    background-color: #46755E;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    font-weight: 400;
    padding: 0.5rem 2rem;
    margin: 1rem;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}

.button:hover,
button:hover,
input[type='button']:hover,
input[type='reset']:hover,
input[type='submit']:hover {
    background-color: #416C58;
}

/* global */
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #E4CCA0;
    margin: 0;
}

label,
legend {
    color: #1f1f1f;
}

label {
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}

/* widoki */

a {
    color: #000;
    text-decoration: none;
}

.profile-icon img {
    margin-top: 10px;
    border-radius: 50%;
    transition: transform .4s;
}

.profile-icon img:hover {
    transform: scale(1.05);
}

/* ------------- Register page ------------- */
.logo_text_container {
    display: flex;
    justify-content: flex-start;
    height: 8em;
}

.form_container {
    width: 65vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3em;
}

.form_container form {
    width: 100%;
}

.form_container form fieldset {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
}

.form_container form fieldset .legend_container {
    display: flex;
    justify-content: space-between;
}

.form_container form fieldset legend.legend_first {
    background-color: #fff;
    width: 20em;
    height: 5em;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    transition: all 0.2s ease-out;
}

.form_container form fieldset legend.legend_second {
    background-color: #fff;
    width: 20em;
    height: 4em;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
    transition: all 0.2s ease-out;
}

.form_container form fieldset .content_wrapper {
    background-color: #fff;
    border-top-right-radius: 2em;
    display: flex;
}

.form_container form fieldset .content_wrapper .div1 {
    width: 100%;
    height: 100%;
    display: flex;
}

.form_container form fieldset .content_wrapper .form_column {
    width: 50%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.require_data::placeholder {
    color: #000000;
}

input {
    background-color: white;
    border: none white;
    align-self: center;
}

/*.form_container form fieldset .content_wrapper .form_column input*/
input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    box-sizing: border-box;
    border: 0;
    border-bottom: 1px solid gray;
    height: 4rem;
    outline: none;
    margin-bottom: 2rem;
    transition: all 0.2s ease-out;
}

/*.form_container form fieldset .content_wrapper .form_column input:hover*/
input:hover {
    cursor: pointer;
    background-color: #eee;
    transition: all 0.2s ease-out;
}

.form_container form fieldset .form_end_content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 10em;
    background-color: #fff;
    border-bottom-left-radius: 3em;
    border-bottom-right-radius: 3em;
}

.form_container form fieldset .form_end_content label {
    width: 50%;
    padding-right: 2.5em;
    align-self: end;
    text-align: end;
}

.form_container form fieldset .form_end_content label:hover {
    cursor: pointer;
}

input[type="submit"] {
    width: 15em;
    height: 3em;
    align-self: end;
    text-align: center;
    background-color: #46755E;
    border: 0;
    color: #fff;
    border-radius: 2em;
    margin-bottom: 2em;
    font-size: 1.1em;
    transition: all 0.2s ease-out;
}

/*.form_container form fieldset .form_end_content input[type=submit]:hover*/
input[type="submit"]:hover {
    cursor: pointer;
    background-color: #3B6350;
    transition: all 0.2s ease-out;
}

/* Homepage */

.content_wrapper_homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.logo_div {
    display: flex;
    justify-content: center;
}

.search-bar {
    display: flex;
    background: #ffffff;
    border-radius: 50px;
    max-width: 900px;
    margin-left: auto;
    height: 50px;
    padding: 0.5vh 0.5vw;
}

.search-bar input {
    border: none;
    align-items: center;
    align-content: center;
    margin-bottom: 0;
    background-color: transparent;
    width: 100%;
}

.search-bar label {
    margin-bottom: 0;
    padding-left: 1rem;
}

.search-separator h3 {
    font-size: 30px;
    font-weight: 100;
    color: rgb(0, 0, 0);
}

.search-description {
    display: flex;
    justify-content: start;
    width: 59%;
    align-items: center;
    align-content: center;
}

.search-description input {
    margin-bottom: 0;
}

.place_search {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.services {
    width: 100%;
    display: flex;
    justify-content: space-around;
    justify-self: center;
}

.serv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
}

.service-type {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*.service-type a:hover*/
.service-type img:hover
/*.service-type:hover*/
{
    transition: all 0.2s ease-out;
    transform: scale(1.03);
}


.place_search>img {
    margin-bottom: 0;
}

.place_search>input {
    margin-bottom: 0;
}

.rating-combo {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
}

.rate-box .rating-combo {
   flex-direction: column;
}

.rating-combo h4 {
    margin: 0;
    font-weight: 600;
}

@media only screen and (max-width: 768px) {
    .services {
        flex-direction: column;
        justify-content: center;
    }

    .serv {
        flex-direction: column;
        justify-content: center;
    }
}
