@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

/* buttons */
.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
    all: unset;
    width: min-content;
    height: fit-content;
    background-color: #46755E;
    border: none;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    padding: 0.5rem 2rem;
    margin: 1rem;
    text-align: center;
    text-decoration: none;
    white-space: nowrap
}

.button:hover,
button:hover,
input[type='button']:hover,
input[type='reset']:hover,
input[type='submit']:hover {
    background-color: #416C58;
}

/* global */
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #E4CC9F;
}

label, legend {
    color: #1f1f1f;
}

.input input, .input select, .input textarea {
    border-radius: 1rem;
}

/* header */

.top-nav {
    margin-bottom: 1rem;
    margin-top: 0;
    padding: 0;
}

.top-nav-logo img {
    width: 423px;
    height: 73px;
}

.top-nav-logo {
    width: 423px;
    height: 73px;
}

/* widoki */

body
{
    background-color: #d5c3a7;
    font-family: "Arial", serif;
    margin: 0;
}

a
{
    color: #000;
    text-decoration: none;
}

/* ------------- Register page ------------- */
.logo_text_container
{
    display: flex;
    justify-content: flex-start;
    height: 8em;
}

.form_container
{
    width: 65vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3em;
}

.form_container form
{
    width: 100%;
}

.form_container form fieldset
{
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
}

.form_container form fieldset .legend_container
{
    display: flex;
    justify-content: space-between;
}

.form_container form fieldset legend.legend_first
{
    background-color: #fff;
    width: 20em;
    height: 5em;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    transition: all 0.2s ease-out;
}

.form_container form fieldset legend.legend_second
{
    background-color: #fff;
    width: 20em;
    height: 4em;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
    transition: all 0.2s ease-out;
}

.form_container  form fieldset legend:hover
{
    cursor: pointer;
    background-color: #eee;
    transition: all 0.2s ease-out;
}

.form_container form fieldset .content_wrapper
{
    background-color: #fff;
    border-top-right-radius: 2em;
    display: flex;
}

.form_container form fieldset .content_wrapper .div1
{
    width: 100%;
    height: 100%;
    display: flex;
}

.form_container form fieldset .content_wrapper .form_column
{
    width: 50%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.require_data::placeholder
{
    color: red;
}

/*.form_container form fieldset .content_wrapper .form_column input*/
input[type=text], input[type=password]
{
    width: 100%;
    box-sizing: border-box;
    border: 0;
    border-bottom: 1px solid gray;
    height: 4em;
    outline: none;
    margin-top: 2em;
    transition: all 0.2s ease-out;
}

/*.form_container form fieldset .content_wrapper .form_column input:hover*/
input:hover
{
    cursor: pointer;
    background-color: #eee;
    transition: all 0.2s ease-out;
}

.form_container form fieldset .form_end_content
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 10em;
    background-color: #fff;
    border-bottom-left-radius: 3em;
    border-bottom-right-radius: 3em;
}

.form_container form fieldset .form_end_content label
{
    width: 50%;
    padding-right: 2.5em;
    align-self: end;
    text-align: end;
}

.form_container form fieldset .form_end_content label:hover
{
    cursor: pointer;
}

input[type=submit]
{
    width: 15em;
    height: 3em;
    align-self: end;
    text-align: center;
    background-color: #046206;
    border: 0;
    color: #fff;
    border-radius: 2em;
    margin-bottom: 2em;
    font-size: 1.1em;
    transition: all 0.2s ease-out;
}

/*.form_container form fieldset .form_end_content input[type=submit]:hover*/
input[type=submit]:hover
{
    cursor: pointer;
    background-color: #034904;
    transition: all 0.2s ease-out;
}

/* -------------------- Login page ----------------------- */

.logo_container
{
    display: flex;
    width: 100vw;
    height: 100vh;
}

.logo_container .logo_full_container
{
    width: 60%;
    display: flex;
    justify-content: center;
}

.logo_container .logo_full_container img
{
    width: 80%;
}

.logo_container .logo_form_container
{
    background-color: #fff;
    width: 25em;
    height: 55vh ;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    border-radius: 3em;
}

.logo_container .logo_form_container form
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 60%;
}

.logo_container .logo_form_container form input[type=submit]
{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

.logo_container .logo_form_container .form_links
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40%;
    row-gap: 1em;
}

.logo_container .logo_form_container .form_links .sing_up
{
    width: 15em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 2em;
    font-size: 1.1em;
    transition: all 0.2s ease-out;
}

.logo_container .logo_form_container .form_links .sing_up:hover
{
    background-color: #046206;
    cursor: pointer;
    color: #fff;
    transition: all 0.2s ease-out;
}

/* forgot-password */

.content_wrapper_forgot_password
{
    width: 50%;
    height: 100%;
    background-color: #fff;
    border-radius: 2em;
    display: flex;
    align-self: center;
    justify-content: center;
    justify-self: center;
    margin: auto;


}

.first-div
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em;


}

.actions-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-self: end;
    justify-content: end;
    padding: 3em;
}

#forgot-pass-input{
    margin: 6em 2em auto;
    width: 70%;
    background: #CEE5D0;
    box-shadow: 2px 2px 4px rgba(82, 145, 99, 0.49);
    border-radius: 50px;
    color: #70947A;
    border-bottom: none;
    padding-left: 3em;

}
#forgot-pass-input::placeholder{
    color: #70947A;

}

#forgot-pass-input:hover
{
    cursor: pointer;
    background-color: rgb(154, 202, 162);
    transition: all 0.2s ease-out;
}


.cancel
{
    display: flex;
    flex-direction: column;
    width: 15em;
    height: 3em;
    align-self: end;
    text-align: center;
    justify-content: center;
    margin-right: 3em;
    background-color: #EE3900;
    border: 0;
    color: #fff;
    border-radius: 2em;
    margin-bottom: 2em;
    font-size: 1.1em;
    transition: all 0.2s ease-out;
}

.cancel:hover
{
    cursor: pointer;
    background-color: #af2b02;
    transition: all 0.2s ease-out;
}
#send-msg {
    margin-right: 0;
}
#old-pass{
    margin: 0;
    background: #707070;
    box-shadow: 2px 2px 4px rgba(108, 86, 86, 0.49);
    border-radius: 50px;
    color: #1e1e1e;
    border-bottom: none;
    padding-left: 3em;

}
#old-pass::placeholder{
    color: #212121;

}

#old-pass:hover
{
    cursor: pointer;
    background-color: rgb(173, 173, 173);
    transition: all 0.2s ease-out;
}
#new-pass{
    margin: 0;
    background: #CEE5D0;
    box-shadow: 2px 2px 4px rgba(82, 145, 99, 0.49);
    border-radius: 50px;
    color: #70947A;
    border-bottom: none;
    padding-left: 3em;

}
#new-pass::placeholder{
    color: #70947A;

}

#new-pass:hover
{
    cursor: pointer;
    background-color: rgb(154, 202, 162);
    transition: all 0.2s ease-out;
}
#conf-new-pass{
    margin: 0;
    background: #CEE5D0;
    box-shadow: 2px 2px 4px rgba(82, 145, 99, 0.49);
    border-radius: 50px;
    color: #70947A;
    border-bottom: none;
    padding-left: 3em;

}
#conf-new-pass::placeholder{
    color: #70947A;

}

#conf-new-pass:hover
{
    cursor: pointer;
    background-color: rgb(154, 202, 162);
    transition: all 0.2s ease-out;
}


.first-div > .ins-pass-p {
    align-self: flex-start;
    width: 70%;
    margin-left: 10em;
}
#password-reset-submit > div > input[type=submit] {
    margin-right: 0 !important;
}

.pass-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    align-content: center;
    margin-bottom: 1rem;
}
.pass-img {
    color: #af2b02;
}
.pass-img:hover
{
    cursor: pointer;
    filter: opacity(70%);
    fill: rgb(154, 202, 162);
    transition-property: color;
    transition-duration: 5s;
}


/* Homepage */


.content_wrapper_homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.logo_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.search-bar {

    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background: #FFFFFF;
    border-radius: 50px;
    width: 30%;
    height: 4.5vh;
    align-items: center;
    align-content: center;
    margin: 1vh 1vw;
    padding: 0.5vh 0.5vw;
}

.search-bar > div > input {
    border: none;
    align-items: center;
    align-content: center;
}

header {
    display: flex;
    flex-direction: row;
    justify-content:right;
    margin-bottom: 0;
}

.kind_of_search {
    display:flex;
    flex-direction: row;
    justify-content: start;
    width: 59%;
    align-items: center;
    align-content: center;
}

.place_search {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.services {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    justify-self: center;


}
.serv {
    width: 100%;
    margin: 0 20vw;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    justify-self: center;


}
.service-kind {
    width: 24%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    margin: 10px
}

.service-kind > img {
    /*padding-top: 2vh;*/
    /*padding-bottom: 2vh;*/
    padding-left: 1vw;
    height: 6vh;
    margin-bottom: 0;

}

.service-kind > p {
    padding-right: 1vw;
}


input {
    background-color: white;
    border-color: white;
    border: none;
    align-self: center;
    width: 85%;
}

.service-kind:hover
{
    cursor: pointer;
    background-color: #eee;
    transition: all 0.2s ease-out;
}

header {
    width: 95%;
}
.place_search > img{
    margin-bottom: 0;
}
.kind_of_search > img{
    margin-bottom: 0;
}
.place_search > input{
    margin-bottom: 0;
}
.kind_of_search > input{
    margin-bottom: 0;
}
@media only screen and (max-width: 768px){
    .services {
        flex-direction: column;
        justify-content: center;

    }
    .serv {
        flex-direction: column;
        justify-content: center;
    }

}
