body
{
    display: flex;
    width: 100vw;
    height: 100vh;
}

.top-nav
{
    width: 60%;
    justify-content: center;
    margin: 0;
}

main
{
    display: flex;
}

.container
{
    background-color: #fff;
    width: 25em;
    height: 55vh ;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    border-radius: 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

label
{
    display: none;
}

form
{
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-around;*/
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 70%;
}
form input[type=email], input[type=password]
{
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #000;
    margin: 1em 0;
    transition: all 0.2s ease-out;
}

form input[type=email]:hover
{
    cursor: pointer;
    background-color: #eee;
    transition: all 0.2s ease-out;
}

form input[type=password]:hover
{
    cursor: pointer;
    background-color: #eee;
    transition: all 0.2s ease-out;
}

form input[type=submit]
{
    width: 15em;
    height: 3em;
    align-self: end;
    text-align: center;
    margin-right: 3em;
    background-color: #046206;
    border: 0;
    color: #fff;
    border-radius: 2em;
    margin-bottom: 2em;
    font-size: 1.1em;
    transition: all 0.2s ease-out;
}

input[type=submit]:hover
{
    cursor: pointer;
    background-color: #034904;
    transition: all 0.2s ease-out;
}

.users_form_links
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
