.profile-order-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid;
}

.profile-order-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile-order-property {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.profile-order-btn {
    min-height: 0 !important;
}

.profile-order-btn-red{
    background-color: #d54848;
}

.order_client th, td
{
    text-align: center;
}

.order_client
{
    border-spacing: 0 2em;
}

.order_client .override_button
{
    margin: 0;
}

.order_client .order_client_button
{
    display: flex;
    justify-content: center;
}
