* {
    background-color: #E4CC9F;
}
.related{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    border-radius: 25px;
    grid-column: 2/3;
    margin-inline: 20px;
    padding: 20px;
    margin-top: 40px;
    width: 800px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.related * {
    background: white;
}
.table-responsive{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

h4, h5{
    font-family: 'poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: black;
}

h5{
    width:148px;
    margin-left:10px;
    font-weight: 400;
    font-size: 16px;
}

.single-offer *{
    background: #FEF6E7;
}

.single-offer{
    display: flex;
    justify-content: space-between;
    border-radius: 25px;
    background: #FEF6E7;
    padding: 15px;
    margin:10px;
    width: 740px;
    height: auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.side-nav{
    margin-top:55px;
    font-family: 'poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: black;
    background: white;
    border-radius: 25px;
    padding: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
