.go-back-to-parent-category .button {
    background-color: transparent;
    color: #6f6454;
    font-weight: 600;
    font-size: 24px;
    padding: 0;
}

.container {
    max-width: unset;
    width: min-content;
}

.offer-container {
    display: flex;
    flex-direction: column;
    align-content: center;
}


.offer-container p {
    font-family: 'Segoe UI', serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.2;
}

.offer-title h3 {
    font-size: 32px;
}

.offer-gallery,
.offer-details,
.offer-reservation,
.offer-opinions {
    width: 1390px;
    border-radius: 25px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.offer-gallery {
    height: 650px;
    background: white;
    display: grid;
    grid-template-rows: 15% 85%;
    justify-content: center;

}

.offer-gallery-img {
    overflow: scroll;
}


.title-location {
    display: flex;
    grid-row: 1/2;
    margin: 10px;
    justify-content: space-between;
    align-items: center;
}

.title-location>h1,
h3 {
    margin: 0;
    align-items: center;
    color: black;
}

.title-location>h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

.title-location>h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
}

.offer-gallery-img {
    grid-row: 2/3;
    width: 1330px;
    height: 520px;
}

.offer-pic {
    width: 100%;
    height: 98%;
    object-fit: cover;
    border-radius: 25px;
}

.offer-details {
    padding: 3rem;
    min-height: 300px;
    background: white;
    display: flex;
    flex-direction: column;
}

.offer-details a {
    font-size: 2rem;
}

.offer-reservation {
    display: grid;
    height: auto;
    background: #fef6e7;
    grid-template-rows: 50% 50%;
}

.offer-reservation>h2 {
    grid-row: 1/2;
    margin: 1rem 1rem 1rem 30px;
}

.offer-reservation .make-reservation {
    display: flex;
    grid-row: 2/3;
    margin: 30px;
    justify-content: space-between;
}
.reservation-input-and-button{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
    margin-bottom: 10px;
}
.reservation-date {
    width: 581px;
    height: 43px;
    background: #ffffff;
    border: 1px solid #c1c1c1;
    border-radius: 25px;
    padding-inline: 15px;
}

.button-reserve {
    width: 168px;
    height: 45px;
    background: #46755e;
    border-radius: 25px;
    color: white;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    border: none;
}

.button-reserve:hover {
    background: #5c9278;
}

.calendar-main-div {
    display: flex;
    justify-content: center;
}
/* rating */

.offer-opinions {
    height: 100%;
    background: #fef6e7;
    display: flex;
    justify-content: flex-start;
    padding-top: 15px;
}

.rating,
.opinions {
    margin-left: 30px;
}

.rate-box {
    display: flex;
    justify-content: center;
    align-content: center;
    background: white;
    width: 135px;
    height: 110px;
    border-radius: 25px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    margin-bottom:15px;
    padding: 15px;
}

textarea {
    width: 800px;
    height: 135px;
    resize: none;
    border-radius: 25px;
    padding: 15px;
}

.input-button-box>h3 {
    margin-top: 0;
    margin-bottom: 15px;
}

.input-button-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-end;
    padding: 2rem;
    background: #ffffff;
    border-radius: 25px;
    box-shadow: 0 7px 14px 0 rgb(60 66 87 / 10%), 0 3px 6px 0 rgb(0 0 0 / 7%);
    width: 1000px;
    margin-bottom: 15px;
}

.send-opinion {
    width: 120px;
    height: 40px;
    border-radius: 25px;
    background: #d1e4cd;
    border: none;
    align-self: flex-end;
    font-size: 16px;
    font-weight: bold;
}

.send-opinion:hover {
    background: #84b79e;
}

.opinion-box {
    display: grid;
    grid-template-columns: 10% 90%;
    width: 1000px;
    height: auto;
    border-radius: 25px;
    background: white;
    margin-bottom: 20px;
    padding: 30px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.input-button-box .rating-selection {
    width: 800px;
}

.user-img {
    width: 64px;
    height: 64px;
}

.userimg {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 100px;
}

.rest-of-opinion {
    display: flex;
    flex-direction: column;
}

.upper-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h4, h1, .offer-container label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color:black;
}

h1{
    font-size: 36px;
}

.offer-price {
    display: flex;
    align-items: first baseline;
}

.offer-price-amount {
    font-size: 30px;
    font-weight: 600;
    color: black;
    margin-left: 1rem;
}

.offer-description-main {
    font-size: 24px;
}

.offer-description-bold {
    height: min-content;
}


.offer-address,
.offer-website {
    margin-top: 1rem;
}

.offer-advance-payment {
    display: flex;
    align-items: first baseline;
    gap: 1rem;
}

.offer-advance-payment-price {
    font-size: 24px;
    font-weight: 600;
}

.owner-profile-link a {
    color: #46755e;
    font-size: 20px;
}
