.container {
    max-width: none;
    padding: 0 3em;
}

.column-responsive.column-80 {
    max-width: 112rem !important;
    align-self: center;
}

.row {
    flex-direction: column;
    width: 100%;
    margin: 0;
}

.icon_user {
    color: #fff;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    margin: 0;
    background-color: #034904;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
}

/* PROVIDER */

.bookmarks_wrapper {
    display: flex;
    justify-content: space-between;
}

.bookmarks_wrapper div {
    background-color: #f8ead3;
    width: 15em;
    height: 3em;
    border-radius: 3em;
    color: #634a1c;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em 0;
}

.bookmarks_wrapper div.current_bookmarks {
    background-color: #bdd4b9;
    color: #000;
    border-radius: 1.5em 1.5em 0 0;
    height: 3.5em;
    margin-bottom: 0;
}

.bookmarks_wrapper div a {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.bookmarks_wrapper div a:hover {
    background-color: #e7d9c2;
    border-radius: 3em;
}

.users.view.content {
    background-color: #bdd4b9;
    border-radius: 0 0 2em 2em;
}

.notification {
    background-color: #fff;
    width: 48%;
    min-height: 40em;
    border-radius: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1em;
}

.notification h5 {
    align-self: center;
}

.notification_container {
    width: 100%;
    padding: 0.5em;
    border-bottom: 1px solid gray;
}

.notification_container .notification_buttons_wrapper {
    display: flex;
    justify-content: space-around;
    padding: 0.5em 0;
}

.notification_container .notification_buttons_wrapper .reject {
    background-color: red;
    width: 6em;
    height: 2.5em;
    border-radius: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification_container .notification_buttons_wrapper .reject a {
    color: #fff;
    width: 6em;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification_container .notification_buttons_wrapper .reject a:hover {
    background-color: darkred;
    width: 6em;
    height: 2.5em;
    border-radius: 2em;
}

.notification_container .notification_buttons_wrapper .accept {
    background-color: #046206;
    width: 17em;
    height: 2.5em;
    border-radius: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification_container .notification_buttons_wrapper .accept a {
    color: #fff;
    width: 17em;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification_container .notification_buttons_wrapper .accept a:hover {
    background-color: #034904;
    width: 17em;
    height: 2.5em;
    border-radius: 2em;
}

.calendar {
    background-color: #fff;
    width: 48%;
    min-height: 40em;
    border-radius: 1.5em;
    padding: 1em;
}

.calendar .calendar_header {
    display: flex;
    justify-content: space-between;
}

.calendar .calendar_header div {
    display: flex;
}

.calendar .calendar_legend {
    display: flex;
    justify-content: space-around;
    padding: 2em 0;
}

.calendar .calendar_legend div {
    display: flex;
}

.calendar .calendar_box {
    width: 90%;
    height: 25em;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid gray;
}

.offer_container {
    background-color: #fff;
    width: 98%;
    min-height: 20em;
    border-radius: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.2em;
}

.offer_container_header {
    display: flex;
    justify-content: space-between;
}

.offer_container_header div {
    width: 8em;
    height: 2.5em;
    background-color: #bdd4b9;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer_container_header div a {
    color: #3f5f3a;
    width: 8em;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer_container_header div a:hover {
    background-color: #97bb90;
    width: 8em;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
}

.offer_container_wrapper {
    width: 100%;
    display: flex;
    column-gap: 1em;
}

.offer_container_wrapper_image {
    width: 25%;
    height: 10em;
    border: 1px solid grey;
}

.offer_container_wrapper_description {
    width: 50%;
}

.offer_container_wrapper_title {
    display: flex;
    justify-content: space-between;
}

.offer_container_wrapper_description {
    width: 100%;
}

.offer_container_edit_button {
    width: 15%;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    justify-content: center;
}
