.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.provider-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    height: 10em;
    padding: 1em 4em;
    justify-self: center;
    justify-items: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

.property_name {
    font-weight: 700;
    margin-right: 1em;
}

.provider_contact_detail {
    display: flex;
    flex-direction: row;
}

/* Otrzymane oceny */

.users.view.content_header {
    display: flex;
    font-size: 1.3em;
    font-weight: bold;
    color: #000;
    padding: 1em 0;
}

.users.view.content_header_first {
    width: 25%;
    display: flex;
    justify-content: center;
}

.container_box {
    display: flex;
    gap: 3rem;
}

.users.view.content .users.view.content_wrapper {
    display: flex;
}

.users.view.content .opinion-box-wrapper {
    width: 100%;
}

.users.view.content .users.view.content_wrapper_box {
    background-color: #fff;
    width: 10rem;
    height: 10rem;
    border-radius: 25px;
}

.users.view.content .users.view.content_wrapper_box div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.opinion-box_provider {
    background-color: #fff;
    width: 100%;
    min-height: 8em;
    margin-bottom: 2em;
    border-radius: 1em;
    display: flex;
    text-align: center;
}

.user-img_provider {
    width: 11%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-img_provider img {
    width: 4em;
    height: 4em;
    border-radius: 50%;
}

.upper-box_provider {
    width: 100%;
    display: flex;
    align-items: center;
}

.upper-box_provider blockquote {
    margin: 0;
}

.opinion-remove {
    width: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.override_button {
    margin: 0;
    min-width: 6em;
    min-height: 1em;
}
